.bg-darkGreen {
    background-color: #005f3f;
}

.bg-lightGreen {
    background-color: #2A9D8F;
}

.bg-yellow {
    background-color: #E9C46A;
}

.bg-orange {
    background-color: #F4A261;
}

.bg-red {
    background-color: #E76F51;
}

.bg-black {
    background-color: black;
}

.bg-lightGray {
    background-color: lightgray;
}

.text-black {
    color: black;
}

.text-white {
    color:white;
}

.text-darkGreen {
    color: #264653
}

.text-orange {
    color: #F4A261
}

.toggleRow {
    display: flex;
    flex-direction: row;
    padding: 10px;
}


.row {

    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 100%;
    justify-content: space-around;
    align-items: center;

}

.card {
margin-top: 20px;
margin-bottom: 10px;
display: block;
width: 100%;
height: 280px;
}

.card-img-top {
    width: 200px;
    height: 50%;
}
.card-body {
    background-color: #F4A261;
    height: 20px;
}

